#Relatório de análise V

##Tratamento de dados faltantes

In [1]:
import pandas as pd

dados = pd.read_csv('aluguel_residencial.csv', sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [2]:
dados.isnull()  #Mostra os valores nulos como true

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False       False  False
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
21821  False   False    False  False   False  False  False       False  False
21822  False   False    False  False   False  False  False       False  False
21823  False   False    False  False   False  False  False       False  False
21824  False   False    False  False   False  False  False       False  False
21825  False   False    False  False   False  False  False       False  False

[21826 rows x 9 columns]

In [3]:
dados.notnull()  #Mostra os valores nao nulos como true

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio  IPTU
0      True    True     True   True    True  True   True        True  True
1      True    True     True   True    True  True   True        True  True
2      True    True     True   True    True  True   True        True  True
3      True    True     True   True    True  True   True        True  True
4      True    True     True   True    True  True   True        True  True
...     ...     ...      ...    ...     ...   ...    ...         ...   ...
21821  True    True     True   True    True  True   True        True  True
21822  True    True     True   True    True  True   True        True  True
21823  True    True     True   True    True  True   True        True  True
21824  True    True     True   True    True  True   True        True  True
21825  True    True     True   True    True  True   True        True  True

[21826 rows x 9 columns]

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21826 entries, 0 to 21825
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21826 non-null  float64
 8   IPTU        21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.5+ MB

In [5]:
dados['Valor'].isnull()  #Cria uma series

0        False
1        False
2        False
3        False
4        False
         ...
21821    False
21822    False
21823    False
21824    False
21825    False
Name: Valor, Length: 21826, dtype: bool

In [6]:
dados[dados['Valor'].isnull()]  #Mostra os imóveis com valor Nan

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [7]:
A  = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)  #Dropna para eliminar os valor NaN da tabela
B = dados.shape[0]
A - B

0

In [8]:
dados[dados['Valor'].isnull()]  #Agora está vazio

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

#Tratamento de Dados Faltantes(Continuação)

In [9]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [10]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

A = dados.shape[0]
dados = dados[~selecao]  #Eliminando os apartamentos com condiminio Nan utilizando o ~
B = dados.shape[0]
A - B

0

In [11]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [12]:
dados = dados.fillna({'Condominio' : 0, 'IPTU': 0})  #Trocou os valores Nan por 0

In [13]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [14]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [15]:
dados.info()  #Informaçoes nao nulas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 21825
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21826 non-null  float64
 8   IPTU        21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [16]:
dados.to_csv('aluguel_residencial.csv', sep = ';', index = False)

#Métodos de interpolação

In [17]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [18]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [19]:
s.fillna(0)  #Troca Nan por 0

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [20]:
s.fillna(method = 'ffill') #Troca pelo valor que vem antes dele

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [21]:
s.fillna(method = 'bfill') #Troca pelo valor que vem depois

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [22]:
s.fillna(method = 'ffill', limit = 1) #Troca pelo valor que vem antes dele mas com um limite de uma casa

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64